<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
   <servlet>
		<servlet-name>DemoJdbc</servlet-name>
		<servlet-class>
		  com.example.project_jdbc.DemoJdbc
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>DemoJdbc</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>


      
	 <servlet>
		<servlet-name>Statements</servlet-name>
		<servlet-class>
		  com.example.project_jdbc.Statements
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Statements</servlet-name>
		<url-pattern>/statement</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductDetails</servlet-name>
		<servlet-class>
		  com.example.project_jdbc.ProductDetails
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>ProductDetails</servlet-name>
		<url-pattern>/stored-procedure</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Operations</servlet-name>
		<servlet-class>
		  com.example.project_jdbc.Operations
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Operations</servlet-name>
		<url-pattern>/operation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Product</servlet-name>
		<servlet-class>
		  com.example.project_jdbc.Product
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Product</servlet-name>
		<url-pattern>/product-details</url-pattern>
	</servlet-mapping>


</web-app>
