<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "startEventHandler" class = "com.example.project_9.StartEventHandler"/>
   <bean id = "stopEventHandler" class = "com.example.project_9.StopEventHandler"/>
   <bean id = "customEventHandler" class = "com.example.project_9.CustomEventListener"/>
   <bean id = "customEventPublisher" class = "com.example.project_9.CustomEventPublisher"/>

</beans>