<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
		<servlet-name>EproductServlet</servlet-name>
		<servlet-class>
		  com.example.EproductServlet
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>EproductServlet</servlet-name>
		<url-pattern>/eproduct</url-pattern>
	</servlet-mapping>

  <servlet>
		<servlet-name>HibernateInit</servlet-name>
		<servlet-class>
		  com.example.HibernateInit
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>HibernateInit</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>

  <servlet>
		<servlet-name>ProductDetails</servlet-name>
		<servlet-class>
		  com.example.ProductDetails
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>ProductDetails</servlet-name>
		<url-pattern>/product-detail</url-pattern>
	</servlet-mapping>

  <servlet>
		<servlet-name>ProductDetails1</servlet-name>
		<servlet-class>
		  com.example.ProductDetails1
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>ProductDetails1</servlet-name>
		<url-pattern>/product-detail1</url-pattern>
	</servlet-mapping>


  <servlet>
		<servlet-name>Product</servlet-name>
		<servlet-class>
		  com.example.Product
		</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Product</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>

</web-app>
